:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #191970, #000000);
  background: linear-gradient(to bottom, #b3ffab, #12fff7);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1.5em;
  font-weight: 700;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
  height: 60px;
  width: 60px;
  background: linear-gradient(to bottom, #b3ffab, #12fff7);
  color: #000000c1;
  transition: all 0.1s;
}
button:hover {
  border-color: #646cff;
  box-shadow: 0px 0px 10px black;
  border-radius: 50%;
  transform: scale(1.5);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  border: 0.2px solid white;
  padding: 10px;
  height: 450px;
  border-radius: 10px;
  width: 300px;
  background: linear-gradient(to bottom, #2f4f4f, #000000);
  background: linear-gradient(to bottom, #8ed1fc, #55a7f7);
}
h1 {
  padding: 10px;
  border-radius: 10px;
  height: 35px;
  color: #000000;
  border-bottom: 2px solid blanchedalmond;
  border-top: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 10px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 10%;
}
